<footer class="footer">
  <div class="footer__nav">
    <h3>Tienda</h3>
    <nav>
      <ul>
        <li class="link"><a href="#">Producots</a></li>
        <li class="link"><a href="#">Cajoneras</a></li>
        <li class="link"><a href="#">Para toda la casa</a></li>
        <li class="link"><a href="#">Habitaciones</a></li>
      </ul>
    </nav>
  </div>

  <div class="footer__nav">
    <h3>Nosotros</h3>
    <nav>
      <ul>
        <li class="link"><a href="#">Nuestra guia</a></li>
        <li class="link"><a href="#">Nuestro diseño</a></li>
        <li class="link"><a href="#">Nuestra historia</a></li>
        <li class="link"><a href="#">Ayuda</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer__nav">
    <h3>Contacto</h3>
    <nav>
      <ul>
        <li class="link"><a href="#">ayuda@openspaces.com</a></li>
        <li class="link"><a href="#">Socios</a></li>
        <div class="container-social-network">
          <a
            href="https://www.linkedin.com/in/guadalupe-morales-carmona-817245226/"
            target="_blank"
            ><i class="fa-brands fa-linkedin-in icon-social-network fa-2x"></i
          ></a>

          <a href="https://www.instagram.com/yampodog/" target="_blank">
            <i class="fa-brands fa-instagram fa-2x"></i>
          </a>

          <a href="https://twitter.com/lacanellyatope" target="_blank"
            ><i class="fa-brands fa-twitter icon-social-network fa-2x"></i
          ></a>

          <a></a>
        </div>
      </ul>
    </nav>
  </div>

  <div class="arrow">
    <a href="./index.html"><img src="./assets/images/arrow-up.png" alt="arrow up" />  </i></a>
  </div>
</footer>
