<header class="header">
  <div class="hamb">
    <a href="https://adalab.es/"><i class="fa-solid fa-bars fa-2x"></i></a>
  </div>
  <img class="logo" src="./assets/images/logo.png" alt="logo Open Spaces" />

  <nav class="nav">
    <ul class="list">
      <li class="list-item">
        <a class="link-nav" href="https://adalab.es/">Productos</a>
      </li>
      <li class="list-item">
        <a class="link-nav" href="https://adalab.es/">Colecciones</a>
      </li>
      <li class="list-item">
        <a class="link-nav" href="https://adalab.es/">Tienda</a>
      </li>

      <li class="list-item">
        <a class="link-nav" href="../index.html">Inicio</a>
      </li>
    </ul>
  </nav>

  <div class="header__text">
    <h1 class="main-title">Disfruta creando espacios</h1>
    <a class="buy-now" href="https://adalab.es/">comprar ahora</a>
  </div>
</header>
