.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  background-color: #0c454b;
}
.footer__container {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 70px;
    padding-top: 30px;
  }
  @media all and (min-width: 1200px) {
    column-gap: 200px;
  }
}
.footer__nav {
  width: 100%;
}
.footer h3 {
  margin-top: 40px;
  margin-left: 5px;
  font-size: 2rem;
  font-weight: 600;
  color: #b6c8c9;
  text-align: left;
  @media all and (min-width: 768px) {
    margin-left: 5px;
  }
}
.link {
  display: flex;
  list-style: none;
  line-height: 0;
  width: max-content;
}

.link a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 100;
  color: #b6c8c9;
  text-align: left;
}
.container-social-network i {
  padding: 20px;
  color: #fff;
  margin-right: 0px;
  margin-bottom: 60px;
}
.arrow {
  display: block;
  margin-left: 75%;
  margin-bottom: 10%;
}

.arrow img:hover {
  transform: scale(1.2);
}
