/*;

@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index'; */
@import "core/reset";
@import "core/variables";
@import "components/titles";
@import "components/article";
@import "layout/hero";

.hero {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 75vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
}

.buy-now {
  width: 176px;
  height: 48;
  padding: 10px;
  margin-top: 64px;
  font-size: 1.6rem;
  color: #fff;
  background-color: $color-spruce;
  text-decoration: none;
  text-transform: capitalize;
}
/* **OJO CUIDAO CON HOVER*** */
.a:hover {
  background-color: #ff975a;
}

main {
  display: flex;
  flex-direction: column;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  transform: translateY(65px);
}

/* *****SERVICES***** */
.services {
  width: 100%;
  height: auto;
  padding: 40px 47px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 40px;
  background-color: #f0ebe5;
}

.services h2 {
  text-align: center;
}
.services span {
  text-transform: uppercase;
}
.article {
  margin: 0 60px;
}
.article .icon {
  margin-bottom: 45px;
}
.article .icon {
  transform: translateX(40px);
}

.article .title {
  font-size: 2rem;
  margin-bottom: 15px;
  width: 15ch;
  text-align: center;
}
.article .description {
  font-size: 1.6rem;
  width: 20ch;
  text-align: center;
}
