/*;

@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
o */
@import "pages/index";
@import "core/reset";
@import "core/variables";
@import "components/titles";
@import "components/article";
@import "layout/hero";

.header {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 65vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
}
.hamb {
  position: fixed;
  z-index: 999;
}
.fa-solid {
  position: absolute;
  padding: 10px;
  left: -140px;
  top: -165px;
  color: #0c454b;
  @media all and (min-width: 768px) {
    left: -300px;
    top: -150px;
  }
  @media all and (min-width: 1200px) {
    display: none;
  }
}

.nav {
  display: none;
  @media all and (min-width: 1200px) {
    display: inline-block;
    position: fixed;
    top: 60px;
    left: 100px;
    z-index: 999;
  }
}
.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.link {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #0c454b;
}

.link:hover {
  background-color: #b6c8c9;
}

.logo {
  margin-bottom: 50px;
  margin-top: -25px;
  @media all and (min-width: 768px) {
  }
}

.header__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;

  @media all and (min-width: 768px) {
    align-items: left;
  }
}

.header__text h1 {
  @media all and (min-width: 768px) {
    text-align: left;
    width: 16ch;
    font-size: 3.6rem;
  }
}
.buy-now {
  width: 176px;
  height: 48;
  padding: 10px;
  margin-top: 64px;
  font-size: 1.6rem;
  color: #fff;
  background-color: $color-spruce;
  text-decoration: none;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
  }
}

.a:hover {
  background-color: #ff975a;
}
.header__text a:hover {
  background-color: orange;
}
main {
  display: flex;
  flex-direction: column;
}

/* *****SERVICES***** */

.services {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 40px;
  background-color: #f0ebe5;
  place-items: center;
}

.services_text {
  width: 85%;
  min-width: 280px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  letter-spacing: -1px;
}
.services span {
  text-transform: uppercase;
}
.article {
  display: flex;
  margin: 0 60px;
  max-width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.article .icon {
  width: 90px;
  max-width: 90px;
  margin: auto;
}

.article .title {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 15ch;
  text-align: center;
}
.description {
  font-size: 1.6rem;
  width: 22ch;
  text-align: center;
}
/* *******SHIPping******* */
.shipping {
  display: flex;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff975a;
}

.shipping__icon {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 90px;
  max-width: 90px;
  flex-grow: 0;
  margin: auto;
}

.title-white {
  font-weight: 600;
  color: #fff;
  margin: auto;
}
.shipping__info {
  font-size: 1.4rem;
  color: #fff;
  margin: auto;
}

.link-buy {
  padding: 10px;
  font-size: 1.6rem;
  color: #fff;
  margin: auto;
}
.shipping a:hover {
  background-color: $color-spruce;
}
/* ***** ENJOY***** */
.enjoy__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;
  grid-gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: 50px;
  background-color: #f0ebe5;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 340px 475px;
  }
}

.enjoy__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enjoy__item h2 {
  margin-top: 80px;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}
.enjoy__item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.enjoy__item p {
  color: #0c454b;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0;
}
.buy-now__enjoy {
  width: 176px;
  height: 48;
  padding: 10px;
  margin-top: 40px;
  font-size: 1.6rem;
  color: #fff;
  background-color: $color-spruce;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}
.enjoy__item a:hover {
  background-color: orange;
}

/* ****FOOTER**** */

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  background-color: #0c454b;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
.footer__container {
}
.footer__nav {
  width: 100%;
}
.footer h3 {
  margin-top: 40px;
  margin-left: 18px;
  font-size: 2rem;
  font-weight: 600;
  color: #b6c8c9;
  text-align: left;
}
.link {
  display: flex;
  /*  justify-content: center;
  align-items: center; */
  list-style: none;
  line-height: 0;
  text-align: left;
}

.link a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 100;
  color: #b6c8c9;
  text-align: left;
}
.container-social-network i {
  padding: 20px;
  color: #fff;
  margin-right: 0px;
  margin-bottom: 60px;
}
.arrow {
  position: relative;
}
.arrow img {
  position: absolute;
  top: -50px;
  right: 20px;
}
